            {% if controllers | length > 0 %}
                <ul id="controller_dropdown" class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar_controller_dropdown_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if controller | length > 0 %}
                            {{controller.name}}
                        {% else %}
                            Controllers
                        {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-left scrollable-menu shadow" aria-labelledby="navbar_controller_dropdown_link">

                    {% set has_classic = false %}
                    {% set has_official = false %}
                    {% for item in controllers %}
                        {% if (item.type ?? 'classic') == 'classic' %}
                            {% set has_classic = true %}
                        {% else %}
                            {% set has_official = true %}
                        {% endif %}
                    {% endfor %}

                    {% if has_classic %}
                            <h5 class="dropdown-header">Classic controllers</h5>
                        {% for item in controllers %}
                            {% if (item.type ?? 'classic') == 'classic' %}
                            <a class="controller_idx dropdown-item{% if loop.index == controller.idx %} active{% endif %}" id="controller_{{loop.index}}" data-idx="{{loop.index}}" data-type="classic" data-value="{{item.name}}" href="#">
                                {{item.name}}{% if loop.index == controller.idx %} <i class="fas fa-check fa-fw"></i>{% endif %}
                            </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if has_classic and has_official %}
                            <div class="dropdown-divider"></div>
                    {% endif %}

                    {% if has_official %}
                            <h5 class="dropdown-header">Official API controllers</h5>
                        {% for item in controllers %}
                            {% if (item.type ?? 'classic') == 'official' %}
                            <a class="controller_idx dropdown-item{% if loop.index == controller.idx %} active{% endif %}" id="controller_{{loop.index}}" data-idx="{{loop.index}}" data-type="official" data-value="{{item.name}}" href="#">
                                {{item.name}} <span class="badge badge-info badge-sm">API key</span>{% if loop.index == controller.idx %} <i class="fas fa-check fa-fw"></i>{% endif %}
                            </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                        </div>
                    </li>
                </ul>
            {% endif %}
